<!DOCTYPE html>
<html>
<head>
	<title>Photo Blog</title>
	<link rel="stylesheet" type="text/css" href="/stylesheet/fakelook.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap" rel="stylesheet">
</head>

<body>
<ul class='navbar m-0'>
	<div class='container d-block justify-content-center'>
		<li><a href='#gallery'><p>gallery</p></a></li>
		<li><a href='#about'><p>About</p></a></li>
		<li><a href='#contact'><p>Contact</p></a></li>
	</div>
</ul>


<div class="section1 m-0">
	<div class='title'>	
		<h1 class='bord1'>Fake Look</h1><h1 class='photography'>Photography</h1>
	</div>
</div>


<div id='gallery'>
	<div class="row1">
		<div class='column1'>
			<img src ="https://images.unsplash.com/photo-1563433308968-b70adf493e94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1636&q=80">
			<img src ="https://images.unsplash.com/photo-1563313269-9dba50bb2203?ixlib=rb-1.2.1&auto=format&fit=crop&w=1655&q=80">
		</div>
		<div class='column1'>
			<img src ="https://images.unsplash.com/photo-1563396933657-ae714379ab36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1649&q=80">
			<img src ="https://images.unsplash.com/photo-1560310948-67b6c22e4989?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
		</div>
		<div class='column1'>
			<img src ="https://images.unsplash.com/photo-1560311209-791bddc290fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80">
			<img src ="https://images.unsplash.com/photo-1563387852576-964bc31b73af?ixlib=rb-1.2.1&auto=format&fit=crop&w=1682&q=80">
		</div>
	</div>
	<div class="row2">
		<div class='column2'>
			<img src ="https://images.unsplash.com/photo-1563433308968-b70adf493e94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1636&q=80">
			<img src ="https://images.unsplash.com/photo-1563313269-9dba50bb2203?ixlib=rb-1.2.1&auto=format&fit=crop&w=1655&q=80">
			<img src ="https://images.unsplash.com/photo-1563396933657-ae714379ab36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1649&q=80">
		</div>
			<div class='column2'>
			<img src ="https://images.unsplash.com/photo-1560310948-67b6c22e4989?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
			<img src ="https://images.unsplash.com/photo-1560311209-791bddc290fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80">
			<img src ="https://images.unsplash.com/photo-1563387852576-964bc31b73af?ixlib=rb-1.2.1&auto=format&fit=crop&w=1682&q=80">
		</div>
	</div>
	<div class="row3">
		<div class='column3'>
			<img src ="https://images.unsplash.com/photo-1563433308968-b70adf493e94?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1636&q=80">
			<img src ="https://images.unsplash.com/photo-1563313269-9dba50bb2203?ixlib=rb-1.2.1&auto=format&fit=crop&w=1655&q=80">
			<img src ="https://images.unsplash.com/photo-1563396933657-ae714379ab36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1649&q=80">
		</div>
			<div class='column3'>
			<img src ="https://images.unsplash.com/photo-1560310948-67b6c22e4989?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
			<img src ="https://images.unsplash.com/photo-1560311209-791bddc290fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80">
			<img src ="https://images.unsplash.com/photo-1563387852576-964bc31b73af?ixlib=rb-1.2.1&auto=format&fit=crop&w=1682&q=80">
		</div>
	</div>
</div>

<div class="section2"id="about">
	<div class='title2'>
	<h1>About:</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque condimentum mauris feugiat ante sagittis sollicitudin. Quisque tincidunt mauris a neque blandit maximus. Donec risus ex, ullamcorper sed maximus sed, varius eu turpis. Ut iaculis imperdiet orci eu sagittis. Phasellus congue orci id leo vestibulum gravida at ut ex. Curabitur ultrices eu urna ut consequat. Donec tempus est id sapien posuere, a ullamcorper sem volutpat. Aliquam lobortis dolor sit amet elit maximus molestie.</p>
</div>
</div>


<div class="section4"id="contact">
	<div class='contactp'>
		<p>Contact</p>
		<p class='small'>Email: fakeemail@tahoo.com</p>
		<p class='small'>Phone: 404-404-4040</p>
		<p class='small'><a href='http://www.facebook.com'>Facebook</a></p>
		<p class='small'><a href='http://www.twitter.com'>Twitter</a></p>
		<p class='small'><a href='http://www.instagram.com'>Instagram</a></p>
	</div>
</div>



</body>

</html>